<div>
    <div>Name: {{student.name}}</div>
    <div>Age: {{student.age}}</div>

    <a href="/students/{{student._id}}/edit">Edit</a>
    <a href="/students">Back to All Students</a>

    {{!-- This is how you do this with a link! --}}
    <a href="/students/{{student._id}}/delete">Delete</a>

    {{!-- This is how you do this with a button! --}}
    <form action="/students/{{student._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>

</div>