<h1>{{pirate.name}}</h1>
<ul>
{{!-- <li>Name: {{pirate.name}}</li> --}}
<li>Birthplace: {{pirate.birthplace}}</li>
<li>Death Year: {{pirate.death_year}}</li>
<li>Base: {{pirate.base}}</li>
<li>Nickname: {{pirate.nickname}}</li>
</ul>

<a href = "/pirates/new">Add a new Pirate</a>